body {
    background-color: rgb(87, 15, 15);
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav {
    color: rgb(87, 15, 15);
}