body {
    background-color: hsl(272, 86%, 8%);
    color: rgb(249, 171, 43);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contato {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    text-align: center;
}
footer {
    text-align: center;
}
button {
    background-color: black;
    border-radius: 40%;
    color: rgb(255, 255, 255);
}

nav a{
    text-decoration: none;
    color: rgb(249, 171, 43);
}
nav ul{
    list-style: none;
    color: rgb(249, 171, 43);
}