body {
    background-color: rgb(87, 15, 15);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.contato {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

form {
    text-align: center;
}
footer {
    text-align: center;
}
button {
    background-color: black;
    border-radius: 40%;
    color: white;
}
nav {
    text-align: center;
    
}
li {
    color: rgb(87, 15, 15);
}